{% include "base.html" %}

{% block body %}

    <h4>All movies ({{ all_movies.count }})</h4>
    {% for movie in all_movies %}
        <p>{{ movie.name }} - rating ({{ movie.rating }})</p>
    {% endfor %}<br>


    <h4>Best movies ({{ best_movies.count }})</h4>
    {% for movie in best_movies %}
        <p>{{ movie.name }} - rating ({{ movie.rating }})</p>
    {% endfor %}<br>

    <h4>Worst movies ({{ worst_movies.count }})</h4>
    {% for movie in worst_movies %}
        <p>{{ movie.name }} - rating ({{ movie.rating }})</p>
    {% endfor %}

{% endblock body %}
